
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // USERS
    // Users can read and update their own user document
    // Users can be created by anyone who is authenticated
    match /users/{userId} {
      allow read, update: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }

    // ORDERS
    // Users can create orders for themselves
    // Users can only read their own orders
    match /orders/{orderId} {
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow read: if request.auth != null && resource.data.userId == request.auth.uid;
    }
  }
}
